body header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red;
  font-family: Charter;
  font-size: small;
  padding: 10px;
}
body {
  hieght: 400vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
